@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px;
  background: linear-gradient(135deg, #1e3a8a, #3b82f6);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: var(--font-roboto);
  background: linear-gradient(90deg, #ffffff 70%, rgba(255, 255, 255, 0) 120%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 24px;
  font-family: var(--font-roboto);
  margin-bottom: 40px;
  line-height: 1.6;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: white;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
}

.contactBtn:hover {
  background-color: #2563eb;
  transform: scale(1.1);
}

.heroImg {
  width: 40%;
  z-index: 1;
  animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur, .bottomBlur {
  position: absolute;
  border-radius: 764px;
  filter: blur(80px);
  z-index: 0;
}

.topBlur {
  width: 40vw;
  height: 40vw;
  top: -80px;
  left: -15vw;
  background: rgba(59, 130, 246, 0.5);
}

.bottomBlur {
  width: 60vw;
  height: 40vw;
  top: 200px;
  right: -20vw;
  background: rgba(37, 99, 235, 0.5);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    padding: 30px;
  }

  .title {
    font-size: 48px;
    text-align: center;
  }

  .description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }

  .contactBtn {
    font-size: 16px;
  }

  .heroImg {
    width: 80%;
  }

  .topBlur, .bottomBlur {
    width: 50vw;
    height: 30vw;
  }
}
